body,*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.topo{
	height: 50px;
	background: black;
}

.topoint{
	margin: auto;
	width: 970px;
	height: 50px;
}

.menu-topo{
	background: blue;
	height: 50px;
	width: 400px;
	float: right;
}
.logomarca {
	height: 50px;
	width: 570px;
	float: left;
	color: white;
    font-size: 25px;
    line-height: 50px;
    font-family: fantasy;
}
.menu-topo  li{
	display: inline-block;
	text-transform: uppercase;
	color: white;
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 12px;
}

.menu-topo li:last-child{
	padding-right: 0px;
}

/*BANNNER*/
.banner	{
	height: 300px;
	background: blue;
}

.bannerint{
	margin: auto;
	width: 970px;
	height: 300px;
}

.frase{
	width: 510px;
	height: 300px;
	color: white;
	float: left;
	padding: 50px 0px 30px 20px;
}
.frase h1{
	font-size: 60px;
	font-family: sans-serif;
}

.frase p{
	font-size: 22px;
	font-family: sans-serif;
	margin-bottom: 20px;
}

.botao{
	width: 280px;
    height: 60px;
    border-radius: 10px;
    background: yellow;
    display: block;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
}
.homem{
	width: 460px;
	float: right;
	height: 300px;

	
}

.vitrine{
	height: 630px;
}

.vitrineint{
	width: 970px;
	height: 630px;
	margin: auto;
}

.vitrineint p{
	text-align: center;
	height: 70px;
	line-height: 70px;
	font-weight: bold;
	font-size: 20px;
}

.produtos{
	height: 550px;
}

.produtos img:first-child {
    padding-left: 0px;
}
.produtos img {
    padding: 0px 8px;
}

.footer{
	background: blue;
	height: 50px;
}

.footerint{
	margin: auto;
	width: 970px;
	height: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
}